<connectionStrings>
    <add name="DefaultConnection" 
    connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eRestaurantWebSite-de17ddc8-ae5f-4b0c-84bf-4bc83449b873;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWebSite-de17ddc8-ae5f-4b0c-84bf-4bc83449b873.mdf;Integrated Security=SSPI" 
    providerName="System.Data.SqlClient" />

    <add name="EatIn"
   connectionString="Data source=.;Initial Catalog=eRestaurant;Integrated Security=SSPI"
    providerName="System.Data.SqlClient" />

  </connectionStrings>